* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 body {
     background-color: black;
 }

 /* .mainNetflixContainer {
     /* border: 2px solid r ed; */
     /* padding: 0rem 2rem; */
 */

 .backgroundContainer {
     background-image: url("bannerImage.jpg");
     filter: blur(16px);
     height: 100vh;
     position: relative;
 }

 .pinkOverlay {
     background-color: rgba(104, 3, 20, 0.404);
     width: 100%;
     height: 100%;
 }

 .contentContainer {
     position: absolute;
     top: 0;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 0 2rem;
 }

 nav {
     /* border: 2px solid green; */
     height: 20vh;
 }

 .upperNavbarSection {
     /* border: 2px solid blue; */
     display: flex;
     height: 50%;
 }

 .upperNavbarLeftSection {
     /* border: 2px solid red; */
     width: 50%;
 }

 .netflixLogo {
     width: 28%;
     margin: 15px 0;
 }

 .navBarButtonContainer {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     /* border: 2px solid green; */
     height: 100%;
 }

 .languageButton {
     display: flex;
     padding: .4rem 1.5rem;
     border-radius: 50px;
     background: transparent;
     border: 1px solid white;
     outline: none;
     color: white;
     font-size: 1rem;
 }

 .languageButton p {
     margin-left: 6px;
 }

 .signInButton {
     background: white;
     padding: .4rem 1.2rem;
     border-radius: 50px;
     outline: none;
     border: none;
     margin-left: 10px;
     font-size: 1rem;
 }

 .netflixLogo {
     width: 25%;
 }

 .upperNavbarRightSection {
     /* border: 2px solid green; */
     width: 50%;
 }

 .lowerNavbarSection {
     /* border: 2px solid red; */
     height: 50%;
     color: white;
     display: flex;
     justify-content: center;
 }

 .menulist {
     /* border: 2px solid green; */
     width: 40%;
     list-style: none;
     display: flex;
     justify-content: space-evenly;
     border-radius: 50px;
     background: rgba(0, 0, 0, 0.5);
     box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.329);
     height: 7vh;
 }

 .menulist li {
     /* border: 2px solid red; */
     height: 100%;
     display: flex;
     align-items: center;
     font-weight: 700;
 }

 .bannerSection {
     /* border: 2px solid red; */
     height: 90vh;
     background-image: url("bannerImage.jpg");
     border-radius: 20px;
     position: relative;
 }

 .overlay {
     height: 100%;
     width: 100%;
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), black);
     border: radius 20px;

 }

 .bannerContainer {
     /* border: 5px solid blue; */
     width: 100%;
     height: 80%;
     position: absolute;
     bottom: 0;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .bannerContainer h2 {
     /* border: 2px solid green; */
     font-size: 4rem;
     width: 50%;
     text-align: center;
 }

 .bannerContainer h4 {
     font-size: 1.5rem;
     margin: 20px;

 }

 .bannerContainer p {
     font-size: 1rem;
     margin: 20px;
 }

 .inputContainer {
     width: 50%;
     display: flex;
     justify-content: space-between;
 }

 .emailInputBox {
     padding: 1rem 2rem;
     border-radius: 50px;
     width: 65%;
     border: none;
     outline: none;
     background-color: rgba(255, 255, 255, 0.3);
     color: white;
     border: 1px solid white;
     font-size: 1.2rem;
     font-weight: 600;
 }

 .emailInputBox::placeholder {
     color: white;
 }

 .getStartedBtn {
     width: 28%;
     background-color: red;
     border: none;
     outline: none;
     border-radius: 50px;
     color: white;
     font-size: 1rem;
     font-weight: 900;
 }

 .carouselSection,
 .planSection,
 .reasonToJoinSection {
     /* border: 3px solid red; */
     color: white;
 }

 .carouselSection h2,
 .planSection h2,
 .reasonToJoinSection h2 {
     /* border: 2px solid red; */
     margin-left: 4rem;
     font-size: 2.5rem;
 }

 .carouselCardContainer,
 .plansContainer,
 .reasonsConatiner {
     /* border: 2px solid green; */
     height: 100%;
     width: 90%;
     display: flex;
     justify-content: space-evenly;
     margin: 2rem auto;

 }

 .carouselCard {
     width: 12%;
     /* border: 12px solid yellow; */
     height: 38vh;
     border-radius: 20px;
     position: relative;
 }

 .carouselNumberContainer {
     position: absolute;
     left: -20px;
 }

 .carouselNumberContainer span {
     color: rgba(0, 0, 0, 0.8);
     -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
     text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
     font-size: 3.6rem;
     font-weight: bold;
 }

 .carouselImageContainer {
     width: 100%;
     height: 100%;
 }

 .carouselImageContainer img {
     width: 100%;
     height: 100%;
     border-radius: 20px;
 }

 .planCard,
 .reasonCard {
     border: 2px solid rgba(255, 255, 255, 0.3);
     height: 48vh;
     width: 23%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 2rem 1rem 1rem;
     border-radius: 20px;

 }

 .planCard1 {
     background: linear-gradient(149deg, #1C4072 6.96%, #172B47 40.17%, #120c1f 73.39%);
 }

 .planCard2 {
     background: linear-gradient(149deg, #1D529D 6.96%, #233371 40.17%, #120c1f 73.39%);
 }

 .planCard3 {
     background: linear-gradient(149deg, #792A95 6.96%, #38216C 40.17%, #120c1f 73.39%);
 }

 .planCard4 {
     background: linear-gradient(149deg, #922556 6.96%, #391945 40.17%, #120c1f 73.39%);
 }

 .planCard h2 {
     margin-left: 0;
     font-size: 1.5rem;
 }

 .planCard h4 {
     font-size: 1.3rem;
 }

 .planCard p {
     font-size: 1rem;
     font-weight: 550;
 }

 .reasonCard {
     background: rgb(47, 47, 47);
     border: none;
     height: 33vh;
 }

 .reasonCard h2 {
     font-size: 1.5rem;
     margin-left: 0;
     margin-bottom: 10px;
 }

 .reasonCard p {
     font-size: 0.9rem;
 }

 .reasonCardLowerContent {
     display: flex;
     justify-content: end;
 }

 .reasonCardLowerContent svg {
     height: 50px;
     width: 50px;
 }
 .footer {
    padding: 25px 10px;
    text-align: center;
    color: #cbd5f5;
    background: rgba(255, 255, 255, 0.02);
    border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-social {
    margin-top: 10px;
}

.footer-social a {
    margin: 0 10px;
    color: #8b9cff;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
    color: #ffffff;
    transform: translateY(-3px);
}
